.git
.gitattributes
.gitignore
.env
.env.backup
.env.production
node_modules
vendor
storage/framework/cache/data/*
storage/logs/*
bootstrap/cache/*
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.*.yml
*.md
.gitkeep
.editorconfig
.prettierignore
.prettierrc
eslint.config.js
phpstan.neon
phpunit.xml
pint.json
.vite/
